<!DOCTYPE html>
<html>
<head>
  <title>Webstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if cookies[:current_user] %>
  <%= button_to "logout", sessions_path, :method => :delete %>
<%end%>

<% flash[:notices].try(:each) do |msg| %>
  <%= msg %>
<% end %>

<%= yield %>

</body>
</html>
